@font-face {
  font-family: "SangsangJeongmukBawi";
  src: url("./sangsang.ttf") format("truetype"); /* 폰트 파일 경로 */
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
  min-height: 100vh; /* 최소 높이 */
  height: auto; /* 필요시 늘어나도록 설정 */
}

.section {
  width: 100%;
  height: 100vh; /* 각 섹션 높이 통일 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-image: url("back.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; /* 부모 높이와 동일하게 설정 */
}

.content {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.content h1 {
  margin: 0; /* 텍스트의 모든 여백 제거 */
  padding: 0; /* 패딩 제거 */
  font-family: "Noto Serif KR", serif;
  font-weight: 900; /* Black 폰트 두께 */
  font-size: 55px;
  margin-top: -18px; /* 텍스트 상단 간격 */
  margin-bottom: 10px; /* 텍스트 하단 간격 */
  color: #cc1915;
}

.content h2 {
  margin: 0; /* 텍스트의 모든 여백 제거 */
  padding: 0; /* 패딩 제거 */
  font-family: "Noto Serif KR", serif;
  font-weight: 900;
  font-size: 70px;
  margin-top: -30px; /* 위 간격 제거 */
  margin-bottom: 20px;
  color: #cc1915;
}

.content p {
  margin: 0; /* 텍스트의 모든 여백 제거 */
  padding: 0; /* 패딩 제거 */
  font-family: "Noto Sans", sans-serif;
  color: #333333; /* 본문 텍스트 색상 */
  font-size: 12.5px;
  font-weight: 400; /* Regular 폰트 두께 */
  margin-top: -15px; /* 위 간격 제거 */
}

.content img {
  position: absolute; /* 절대 위치로 변경 */
  top: 90px; /* 화면 위로 더 많이 이동 (값 조절 가능) */
  left: 50%; /* 가운데 정렬 */
  transform: translateX(-50%); /* 가로축 기준 중앙 정렬 */
  width: 80%;
  height: auto;
  z-index: 10; /* 다른 요소 위에 표시 */
}

.second-screen {
  background-color: #cc1915;
  color: #ffffff;
  height: 135vh; /* 화면 높이 유지 */
  display: flex; /* Flexbox로 정렬 */
  flex-direction: column; /* 세로 방향 정렬 */
  justify-content: center; /* 수직 중앙 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
  text-align: center; /* 텍스트 가운데 정렬 */
  padding: 0 10%; /* 좌우 여백 추가 */
  box-sizing: border-box;
}

.second-screen h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  font-size: 50px;
  margin-bottom: 30px;
}

.second-screen p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12.5px;
  line-height: 1.6;
  max-width: 80%; /* 텍스트 폭 조정 */
}
.highlight {
  font-weight: 700; /* 강조된 텍스트는 Bold로 설정 */
}

.heritage-image {
  width: 123%; /* 이미지 너비 */
  height: auto; /* 이미지 비율 유지 */
  margin-top: 60px; /* 텍스트와 이미지 사이 간격 */
  transform: rotate(-5deg); /* 이미지를 왼쪽으로 5도 기울이기 */
}
.third-screen {
  background-image: url("back.jpg");
  background-size: cover;
  background-position: center;
  color: #333333;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: space-between; /* 텍스트 왼쪽, 이미지 오른쪽 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 0 10%;
}

.third-screen h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 50px; /* 3번째 화면의 타이틀 크기 */
  font-weight: 900;
  color: #333333;
  margin: 0;
  text-align: left; /* 왼쪽 정렬 */
  margin-top: -20px;
  margin-bottom: 50px;
}

.third-screen p {
  max-width: 80%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12.5px; /* 3번째 화면의 본문 크기 */
  line-height: 1.6;
  color: #333333;
  margin: 10px 0; /* 위아래 여백 */
}

.image-container {
  max-width: 40%; /* 이미지가 차지하는 최대 너비 */
  display: flex;
  justify-content: flex-end; /* 이미지 오른쪽 정렬 */
  align-items: center;
}

.third-screen .image-container img {
  width: auto;
  height: 110vh; /* 비율 유지 */
  margin-right: -200px; /* 텍스트와 간격 */
}

.fourth-screen {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: flex-start; /* 텍스트 왼쪽 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 0 10%; /* 좌우 여백 */
  overflow: hidden; /* 스크롤 제거 */
}

.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("back.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1; /* 배경 이미지 레이어 */
}

.red-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 60.155%; /* 빨간 네모 너비 */
  height: 100%;
  background-color: #cc1915; /* 빨간색 배경 */
  z-index: 2; /* 빨간 배경 레이어 */
}

.fourth-text-container {
  position: relative; /* 부모 요소 기준으로 위치 설정 */
  z-index: 3; /* 텍스트를 빨간 배경 위로 배치 */
  max-width: 47%; /* 텍스트 최대 너비 */
  margin-left: -5px; /* 텍스트 왼쪽 여백 */
  padding-right: 10px; /* 텍스트 내부 간격 */
  text-align: left; /* 텍스트 정렬 */
  color: #ffffff; /* 텍스트 색상 (흰색) */
  z-index: 3;
}

.fourth-screen h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 55px; /* 4번째 화면의 타이틀 크기 */
  font-weight: 900;
  color: #ffffff;
  margin-top: -5px;
  margin-bottom: 30px;
  text-align: left;
}

.fourth-screen p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12.5px; /* 4번째 화면의 본문 크기 */
  line-height: 1.8; /* 줄 간격 */
  color: #ffffff;
  margin-bottom: 10px; /* 아래쪽 여백 */
}

.text-container h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}
.image-container {
  max-width: 45%; /* 이미지가 차지하는 최대 너비 */
  display: flex;
  justify-content: flex-end; /* 이미지 오른쪽 정렬 */
  align-items: center;
}

.fourth-screen .image-container {
  position: absolute; /* 절대 위치 지정 */
  top: 20%; /* 화면 상단에서 떨어진 위치 */
  right: 10%; /* 화면 오른쪽에서 떨어진 위치 */
  z-index: 4; /* 이미지가 텍스트와 배경 위로 올라오도록 설정 */
}

.fourth-screen .image-container img {
  width: 105%; /* 이미지 크기 조정 */
  height: auto; /* 비율 유지 */
  margin-top: -187px;
}
/* 5번째 화면 고유 스타일 */
.fifth-screen {
  position: relative; /* 빨간 네모를 기준으로 모든 요소 배치 */
  display: flex; /* Flexbox로 중앙 정렬 */
  flex-direction: row; /* 가로 방향으로 배치 */
  justify-content: space-between; /* 그룹 간 간격 균등 분배 */
  align-items: center; /* 세로 정렬 */
  height: 100vh;
}

/* 5번째 화면의 배경 이미지 */
.fifth-screen .background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("back.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

/* 5번째 화면 빨간 네모 */
.fifth-screen .red-layer {
  position: absolute;
  width: 250px; /* 너비 */
  height: 100%; /* 화면 전체 높이 */
  left: 50%; /* 화면 중앙 정렬 */
  transform: translateX(-50%);
  background-color: #cc1915;
  z-index: 2;
  left: 50%; /* 화면 중앙으로 이동 */
  transform: translateX(-50%); /* 가운데 정렬 */
}
.image-section {
  position: absolute;
  z-index: 3; /* 이미지가 텍스트와 배경 위로 올라오도록 설정 */
  width: 100%;
  height: 100%;
}

.top-image {
  position: absolute;
  width: 9%; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  z-index: 4;
  right: 430px;
}

.statue-image {
  position: absolute;
  top: 0%; /* 석상 이미지 위치 조정 */
  width: 13%; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  z-index: 4;
  right: -40px;
}
.haeinsa-image {
  position: absolute;
  width: 25%; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  z-index: 4;
  top: 140px;
  left: 100px;
}
.jongmyo-image {
  position: absolute;
  width: 28%; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  z-index: 4;
  top: 265px;
  right: 146px;
}

.palace-image {
  position: absolute;
  width: 38% !important; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  z-index: 4;
  bottom: -130px !important;
  left: -100px;
  transform: scaleX(-1); /* 좌우 반전 */
}

.palace2-image {
  position: absolute;
  width: 30%; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  z-index: 4;
  bottom: -95px !important;
  left: 220px !important;
}

.heritage-group {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  max-width: 30%; /* 각 그룹의 최대 너비 */
}

/* 그룹1 (왼쪽 정렬) */
.group1 {
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 세로 정렬 */
  align-items: flex-end; /* 오른쪽 정렬 */
  text-align: right; /* 텍스트 오른쪽 정렬 */
  position: absolute;
  top: 20px !important; /* 위치 조정 */
  left: 160px !important; /* 위치 조정 */
}

.group2 {
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 세로 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
  text-align: left; /* 텍스트 왼쪽 정렬 */
  position: absolute;
  top: 150px !important; /* 위치 조정 */
  right: 160px !important; /* 위치 조정 */
}

/* 그룹3 (위치 조정) */
.group3 {
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 세로 정렬 */
  align-items: flex-end; /* 오른쪽 정렬 */
  text-align: right; /* 텍스트 오른쪽 정렬 */
  position: absolute;
  top: 280px !important; /* 위치 조정 */
  left: 160px !important; /* 위치 조정 */
}

.group4 {
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 세로 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
  text-align: left; /* 텍스트 왼쪽 정렬 */
  position: absolute;
  top: 410px !important; /* 위치 조정 */
  right: 160px !important; /* 위치 조정 */
}
/* Heritage Group 텍스트 컨텐츠 공통 스타일 */
.heritage-group .heritage-content {
  max-width: 65% !important; /* 모든 그룹의 최대 너비 설정 */
  color: #333333; /* 텍스트 색상 */
  margin: 0 auto; /* 그룹 내 중앙 정렬 */
}

/* 타이틀 */
.heritage-group .heritage-title {
  font-family: "SangsangJeongmukBawi", sans-serif;
  font-size: 28px;
  color: #333333;
  margin-bottom: -5px !important;
  letter-spacing: -1px;
}

/* 서브타이틀 */
.heritage-group .heritage-subtitle {
  font-family: "SangsangJeongmukBawi", sans-serif;
  font-size: 18px;
  color: #cc1915;
  margin-bottom: 5px;
}

/* 본문 텍스트 */
.heritage-group .heritage-description {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12.5px;
  line-height: 1.6;
  color: #333333;
  margin-top: -3px;
}

/* 연도 스타일 */

.year {
  font-family: "Antonio", sans-serif; /* 폰트 설정 */
  font-size: 58px; /* 연도 크기 */
  font-weight: bold; /* 굵기 */
  color: white; /* 색상 */
  line-height: 1; /* 줄 간격 */
  text-align: center; /* 중앙 정렬 */
  position: relative;
  margin-top: 10px; /* 위치 조정 */
}

.year .top,
.year .bottom {
  display: block; /* 위, 아래 각각 한 줄로 배치 */
  font-family: "Antonio", sans-serif;
  font-size: 58px;
  font-weight: bold;
  color: white;
}

/* 그룹1 연도 */
.group1 .year {
  top: -70px !important;
  left: 25px !important;
  transform: translateY(-50%);
}
.fifth-screen .group1 .year .top {
  letter-spacing: 5px; /* 6번째 화면 그룹1 자간 */
  margin-left: 8px !important;
}
/* 그룹2 연도 */
.group2 .year {
  top: -70px !important;
  right: 25px !important;
  transform: translateY(-50%);
}
.fifth-screen .group2 .year .top {
  letter-spacing: 5px; /* 6번째 화면 그룹2 자간 */
  margin-left: 8px !important;
}
.group3 .year {
  top: -70px !important; /* 위치 조정 */
  left: 25px !important; /* 그룹3 연도의 위치 조정 */
  transform: translateY(-50%);
}
.fifth-screen .group3 .year .top {
  letter-spacing: 5px; /* 6번째 화면 그룹3 자간 */
  margin-left: 8px !important;
}
.group4 .year {
  top: -70px !important;
  right: 25px !important;
  transform: translateY(-50%);
}
.fifth-screen .group4 .year .top {
  letter-spacing: 5px; /* 6번째 화면 그룹4 자간 */
  margin-left: 8px !important;
}

.sixth-screen {
  position: relative; /* 빨간 네모를 기준으로 모든 요소 배치 */
  display: flex; /* Flexbox로 중앙 정렬 */
  flex-direction: row; /* 가로 방향으로 배치 */
  justify-content: space-between; /* 그룹 간 간격 균등 분배 */
  align-items: center; /* 세로 정렬 */
  height: 100vh;
}

/* 6번째 화면의 배경 이미지 */
.sixth-screen .background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("back.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

/* 6번째 화면 빨간 네모 */
.sixth-screen .red-layer {
  position: absolute;
  width: 250px; /* 너비 */
  height: 100%; /* 화면 전체 높이 */
  left: 50%; /* 화면 중앙 정렬 */
  transform: translateX(-50%);
  background-color: #cc1915;
  z-index: 2;
  left: 50%; /* 화면 중앙으로 이동 */
  transform: translateX(-50%); /* 가운데 정렬 */
}
.image-section {
  position: absolute;
  z-index: 3; /* 이미지가 텍스트와 배경 위로 올라오도록 설정 */
  width: 100%;
  height: 100%;
}

.hwaseong-image {
  position: absolute;
  top: 0%;
  width: 30%; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  z-index: 4;
  right: 200px;
}

.chum-image {
  position: absolute;
  top: -8%;
  width: 30%; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  z-index: 4;
  left: -150px;
}

.sung-image {
  position: absolute;
  top: 18%;
  width: 17%; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  z-index: 4;
  left: 380px;
  transform: scaleX(-1); /* 좌우 반전 */
}

.go-image {
  position: absolute;
  top: 40%;
  width: 30%; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  z-index: 4;
  right: -110px;
  transform: scaleX(-1); /* 좌우 반전 */
}

.in-image {
  position: absolute;
  top: 46%;
  width: 23%; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  z-index: 4;
  right: 300px;
}

.jeju-image {
  position: absolute;
  bottom: -5%;
  width: 35%; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  z-index: 4;
  left: 180px;
}

.heritage-group {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  max-width: 30%; /* 각 그룹의 최대 너비 */
}

/* 그룹1 (왼쪽 정렬) */
.group1 {
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 세로 정렬 */
  align-items: flex-end; /* 오른쪽 정렬 */
  text-align: right; /* 텍스트 오른쪽 정렬 */
  position: absolute;
  top: 0px; /* 위치 조정 */
  left: 170px; /* 위치 조정 */
}

.group2 {
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 세로 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
  text-align: left; /* 텍스트 왼쪽 정렬 */
  position: absolute;
  top: 130px; /* 위치 조정 */
  right: 170px; /* 위치 조정 */
}

/* 그룹3 (위치 조정) */
.group3 {
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 세로 정렬 */
  align-items: flex-end; /* 오른쪽 정렬 */
  text-align: right; /* 텍스트 오른쪽 정렬 */
  position: absolute;
  top: 260px; /* 위치 조정 */
  left: 170px; /* 위치 조정 */
}

.group4 {
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 세로 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
  text-align: left; /* 텍스트 왼쪽 정렬 */
  position: absolute;
  top: 390px; /* 위치 조정 */
  right: 170px; /* 위치 조정 */
}
/* Heritage Group 텍스트 컨텐츠 공통 스타일 */
.heritage-group .heritage-content {
  max-width: 72% !important; /* 모든 그룹의 최대 너비 설정 */
  color: #333333; /* 텍스트 색상 */
  margin: 0 auto; /* 그룹 내 중앙 정렬 */
}

/* 타이틀 */
.heritage-group .heritage-title {
  font-family: "SangsangJeongmukBawi", sans-serif;
  font-size: 28px;
  color: #333333;
  margin-bottom: -20px;
  letter-spacing: -1px;
}

/* 서브타이틀 */
.heritage-group .heritage-subtitle {
  font-family: "SangsangJeongmukBawi", sans-serif;
  font-size: 18px;
  color: #cc1915;
  margin-bottom: 5px;
}

/* 본문 텍스트 */
.heritage-group .heritage-description {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12.5px;
  line-height: 1.6;
  color: #333333;
  margin-top: -3px;
}

/* 연도 스타일 */
.year {
  font-family: "Antonio", sans-serif; /* 폰트 설정 */
  font-size: 58px; /* 연도 크기 */
  font-weight: bold; /* 굵기 */
  color: white; /* 색상 */
  line-height: 1; /* 줄 간격 */
  text-align: center; /* 중앙 정렬 */
  position: relative;
  margin-top: 10px; /* 위치 조정 */
}

.year .top,
.year .bottom {
  display: block; /* 위, 아래 각각 한 줄로 배치 */
  font-family: "Antonio", sans-serif;
  font-size: 58px;
  font-weight: bold;
  color: white;
}

/* 그룹1 연도 */
.group1 .year {
  top: -85px;
  left: 25px !important;
  transform: translateY(-50%);
}
.sixth-screen .group1 .year .top {
  letter-spacing: 5px; /* 6번째 화면 그룹1 자간 */
  margin-left: 8px !important;
}
/* 그룹2 연도 */
.group2 .year {
  top: -85px;
  right: 25px !important;
  transform: translateY(-50%);
}
.sixth-screen .group2 .year .top {
  letter-spacing: 1px; /* 6번째 화면 그룹2 자간 */
}
.group3 .year {
  top: -85px; /* 위치 조정 */
  left: 25px !important; /* 그룹3 연도의 위치 조정 */
  transform: translateY(-50%);
}
.sixth-screen .group3 .year .top {
  letter-spacing: 1px; /* 6번째 화면 그룹3 자간 */
}
.group4 .year {
  top: -85px;
  right: 25px !important;
  transform: translateY(-50%);
}
.sixth-screen .group4 .year .top {
  letter-spacing: 1px; /* 6번째 화면 그룹4 자간 */
}

.seventh-screen {
  position: relative; /* 빨간 네모를 기준으로 모든 요소 배치 */
  display: flex; /* Flexbox로 중앙 정렬 */
  flex-direction: row; /* 가로 방향으로 배치 */
  justify-content: space-between; /* 그룹 간 간격 균등 분배 */
  align-items: center; /* 세로 정렬 */
  height: 100vh;
}

/* 7번째 화면의 배경 이미지 */
.seventh-screen .background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("back.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

/* 7번째 화면 빨간 네모 */
.seventh-screen .red-layer {
  position: absolute;
  width: 250px; /* 너비 */
  height: 100%; /* 화면 전체 높이 */
  left: 50%; /* 화면 중앙 정렬 */
  transform: translateX(-50%);
  background-color: #cc1915;
  z-index: 2;
  left: 50%; /* 화면 중앙으로 이동 */
  transform: translateX(-50%); /* 가운데 정렬 */
}
.image-section {
  position: absolute;
  z-index: 3; /* 이미지가 텍스트와 배경 위로 올라오도록 설정 */
  width: 100%;
  height: 100%;
}

.wang-image {
  position: absolute;
  top: -2%;
  width: 28%; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  z-index: 4;
  right: 200px;
}

.zip-image {
  position: absolute;
  top: 20%;
  width: 25%; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  z-index: 4;
  left: 183px;
}

.nam-image {
  position: absolute;
  top: 40%;
  width: 30%; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  z-index: 4;
  right: -110px;
}

.han-image {
  position: absolute;
  top: 50%;
  width: 18%; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  z-index: 4;
  right: 320px;
}

.seoktop-image {
  position: absolute;
  bottom: -2%;
  width: 22%; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  z-index: 4;
  left: 380px;
}

.heritage-group {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  max-width: 30%; /* 각 그룹의 최대 너비 */
}

/* 그룹1 (왼쪽 정렬) */
.group1 {
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 세로 정렬 */
  align-items: flex-end; /* 오른쪽 정렬 */
  text-align: right; /* 텍스트 오른쪽 정렬 */
  position: absolute;
  top: 0px; /* 위치 조정 */
  left: 170px; /* 위치 조정 */
}

.group2 {
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 세로 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
  text-align: left; /* 텍스트 왼쪽 정렬 */
  position: absolute;
  top: 130px; /* 위치 조정 */
  right: 170px; /* 위치 조정 */
}

/* 그룹3 (위치 조정) */
.group3 {
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 세로 정렬 */
  align-items: flex-end; /* 오른쪽 정렬 */
  text-align: right; /* 텍스트 오른쪽 정렬 */
  position: absolute;
  top: 260px; /* 위치 조정 */
  left: 170px; /* 위치 조정 */
}

.group4 {
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 세로 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
  text-align: left; /* 텍스트 왼쪽 정렬 */
  position: absolute;
  top: 390px; /* 위치 조정 */
  right: 170px; /* 위치 조정 */
}
/* Heritage Group 텍스트 컨텐츠 공통 스타일 */
.heritage-group .heritage-content {
  max-width: 72%; /* 모든 그룹의 최대 너비 설정 */
  color: #333333; /* 텍스트 색상 */
  margin: 0 auto; /* 그룹 내 중앙 정렬 */
}

/* 타이틀 */
.heritage-group .heritage-title {
  font-family: "SangsangJeongmukBawi", sans-serif;
  font-size: 28px;
  color: #333333;
  margin-bottom: -20px;
  letter-spacing: -1px;
}
.group2 .heritage-title-container {
  max-width: 120%; /* 타이틀만 최대 너비를 늘림 */
  text-align: left; /* 텍스트 정렬 */
}

.group2 .heritage-title {
  white-space: nowrap; /* 줄바꿈 방지 */
  overflow: visible; /* 타이틀이 잘리지 않도록 */
  font-size: 28px; /* 기존 폰트 사이즈 유지 */
}

/* 서브타이틀 */
.heritage-group .heritage-subtitle {
  font-family: "SangsangJeongmukBawi", sans-serif;
  font-size: 18px;
  color: #cc1915;
  margin-bottom: 5px;
}

/* 본문 텍스트 */
.heritage-group .heritage-description {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12.5px;
  line-height: 1.6;
  color: #333333;
  margin-top: -3px;
}

/* 연도 스타일 */
.year {
  font-family: "Antonio", sans-serif; /* 폰트 설정 */
  font-size: 58px; /* 연도 크기 */
  font-weight: bold; /* 굵기 */
  color: white; /* 색상 */
  line-height: 1; /* 줄 간격 */
  text-align: center; /* 중앙 정렬 */
  position: relative;
  margin-top: 10px; /* 위치 조정 */
}

.year .top,
.year .bottom {
  display: block; /* 위, 아래 각각 한 줄로 배치 */
  font-family: "Antonio", sans-serif;
  font-size: 58px;
  font-weight: bold;
  color: white;
}

/* 그룹1 연도 */
.group1 .year {
  top: -85px;
  left: 25px !important;
  transform: translateY(-50%);
}
.seventh-screen .group1 .year .top {
  letter-spacing: 1px; /* 7번째 화면 그룹1 자간 */
}
/* 그룹2 연도 */
.group2 .year {
  top: -85px;
  right: 25px !important;
  transform: translateY(-50%);
}
.seventh-screen .group2 .year .top {
  letter-spacing: 1px; /* 7번째 화면 그룹2 자간 */
}

.seventh-screen .group2 .year .bottom {
  letter-spacing: 5px; /* 7번째 화면 그룹2 자간 */
  margin-left: 6px !important;
}
.group3 .year {
  top: -85px; /* 위치 조정 */
  left: 25px !important; /* 그룹3 연도의 위치 조정 */
  transform: translateY(-50%);
}
.seventh-screen .group3 .year .top {
  letter-spacing: 1px; /* 7번째 화면 그룹3 자간 */
}
.seventh-screen .group3 .year .bottom {
  letter-spacing: 5px; /* 7번째 화면 그룹2 자간 */
  margin-left: 6px !important;
}
.group4 .year {
  top: -85px;
  right: 25px !important;
  transform: translateY(-50%);
}
.seventh-screen .group4 .year .top {
  letter-spacing: 1px; /* 7번째 화면 그룹4 자간 */
}
.seventh-screen .group4 .year .bottom {
  letter-spacing: 5px; /* 7번째 화면 그룹2 자간 */
  margin-left: 6px !important;
}
.eighth-screen {
  position: relative; /* 빨간 네모를 기준으로 모든 요소 배치 */
  display: flex; /* Flexbox로 중앙 정렬 */
  flex-direction: row; /* 가로 방향으로 배치 */
  justify-content: space-between; /* 그룹 간 간격 균등 분배 */
  align-items: center; /* 세로 정렬 */
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh; /* 화면에 꽉 차도록 설정 */
  box-sizing: border-box;
  overflow: hidden;
}

/* 7번째 화면의 배경 이미지 */
.eighth-screen .background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("back.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

/* 7번째 화면 빨간 네모 */
.eighth-screen .red-layer {
  position: absolute;
  width: 250px; /* 너비 */
  height: 100%; /* 화면 전체 높이 */
  left: 50%; /* 화면 중앙 정렬 */
  transform: translateX(-50%);
  background-color: #cc1915;
  z-index: 2;
  left: 50%; /* 화면 중앙으로 이동 */
  transform: translateX(-50%); /* 가운데 정렬 */
}
.image-section {
  position: absolute;
  z-index: 3; /* 이미지가 텍스트와 배경 위로 올라오도록 설정 */
  width: 100%;
  height: 100%;
}

.sansa-image {
  position: absolute;
  top: -15%;
  width: 18%; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  z-index: 4;
  right: 50px;
}

.seowon-image {
  position: absolute;
  top: 20%;
  width: 33%; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  z-index: 4;
  left: 185px;
}

.gaya-image {
  position: absolute;
  bottom: -10%;
  width: 35%; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  z-index: 4;
  left: 180px;
}

.heritage-group {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  max-width: 30%; /* 각 그룹의 최대 너비 */
}

/* 그룹1 (왼쪽 정렬) */
.group1 {
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 세로 정렬 */
  align-items: flex-end; /* 오른쪽 정렬 */
  text-align: right; /* 텍스트 오른쪽 정렬 */
  position: absolute;
  top: 0px; /* 위치 조정 */
  left: 170px; /* 위치 조정 */
}

.group2 {
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 세로 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
  text-align: left; /* 텍스트 왼쪽 정렬 */
  position: absolute;
  top: 130px; /* 위치 조정 */
  right: 170px; /* 위치 조정 */
}

/* 그룹3 (위치 조정) */
.group3 {
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 세로 정렬 */
  align-items: flex-end; /* 오른쪽 정렬 */
  text-align: right; /* 텍스트 오른쪽 정렬 */
  position: absolute;
  top: 260px; /* 위치 조정 */
  left: 170px; /* 위치 조정 */
}

.group4 {
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 세로 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
  text-align: left; /* 텍스트 왼쪽 정렬 */
  position: absolute;
  top: 390px; /* 위치 조정 */
  right: 170px; /* 위치 조정 */
}
/* Heritage Group 텍스트 컨텐츠 공통 스타일 */
.heritage-group .heritage-content {
  max-width: 72%; /* 모든 그룹의 최대 너비 설정 */
  color: #333333; /* 텍스트 색상 */
  margin: 0 auto; /* 그룹 내 중앙 정렬 */
}

/* 타이틀 */
.heritage-group .heritage-title {
  font-family: "SangsangJeongmukBawi", sans-serif;
  font-size: 28px;
  color: #333333;
  margin-bottom: -20px;
  letter-spacing: -1px;
}

/* 서브타이틀 */
.heritage-group .heritage-subtitle {
  font-family: "SangsangJeongmukBawi", sans-serif;
  font-size: 18px;
  color: #cc1915;
  margin-bottom: 5px;
}

/* 본문 텍스트 */
.heritage-group .heritage-description {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12.5px;
  line-height: 1.6;
  color: #333333;
  margin-top: -3px;
}

/* 연도 스타일 */
.year {
  font-family: "Antonio", sans-serif; /* 폰트 설정 */
  font-size: 58px; /* 연도 크기 */
  font-weight: bold; /* 굵기 */
  color: white; /* 색상 */
  line-height: 1; /* 줄 간격 */
  text-align: center; /* 중앙 정렬 */
  position: relative;
  margin-top: 10px; /* 위치 조정 */
}

.year .top,
.year .bottom {
  display: block; /* 위, 아래 각각 한 줄로 배치 */
  font-family: "Antonio", sans-serif;
  font-size: 58px;
  font-weight: bold;
  color: white;
}

/* 그룹1 연도 */
.group1 .year {
  top: -85px;
  left: 25px !important;
  transform: translateY(-50%);
}
.eighth-screen .group1 .year .top {
  letter-spacing: 1px; /* 8번째 화면 그룹1 자간 */
}

.eighth-screen .group1 .year .bottom {
  letter-spacing: 5px; /* 7번째 화면 그룹2 자간 */
  margin-left: 6px !important;
}
/* 그룹2 연도 */
.group2 .year {
  top: -85px;
  right: 25px !important;
  transform: translateY(-50%);
}
.eighth-screen .group2 .year .top {
  letter-spacing: 1px; /* 8번째 화면 그룹2 자간 */
}
.eighth-screen .group2 .year .bottom {
  letter-spacing: 5px; /* 7번째 화면 그룹2 자간 */
  margin-left: 6px !important;
}
.group3 .year {
  top: -85px; /* 위치 조정 */
  left: 25px !important; /* 그룹3 연도의 위치 조정 */
  transform: translateY(-50%);
}
.eighth-screen .group3 .year .top {
  letter-spacing: 1px; /* 8번째 화면 그룹3 자간 */
}

.eighth-screen .group3 .year .bottom {
  letter-spacing: 3px; /* 7번째 화면 그룹2 자간 */
  margin-left: -4px !important;
}

.group4 .year {
  top: -85px;
  right: 25px !important;
  transform: translateY(-50%);
}
.eighth-screen .group4 .year .top {
  letter-spacing: 1px; /* 8번째 화면 그룹3 자간 */
}
.eighth-screen .group4 .year .bottom {
  letter-spacing: 1px; /* 7번째 화면 그룹2 자간 */
  margin-left: 1px !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section,
.background-layer,
.red-layer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
